/*************  remove default margin *************/
*{
    margin:0;
}


/*************  setting  background image to body *************/
body{
   
    background:url("https://cdn.pixabay.com/animation/2023/01/25/07/54/07-54-16-78_640.png");
    background-repeat: repeat;
    background-size:contain;
}


/*************  styling favorites superhero Container *************/
#favorites superhero-Container{
    background-color: rgb(7, 7, 94,.3);
    width:100vw;
    height:100vh;
    
    
}

/*************  styling title and link Container *************/
#title-and-link {
    height:10%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left:10px;
    padding-right:10px;
}

/*************  styling title *************/
#title-and-link h1{
    height:10%;
    color:rgb(14, 8, 80);
   text-decoration:underline;
   transform:rotateY(360deg);
   transition:all 5s ease-in-out;
}

/*************  styling link *************/
#title-and-link a{
   position:absolute;
   left:10px;
   top:10px;
    font-size:1rem;
    color:rgb(255, 255, 255);
}
#title-and-link a:hover{
    font-size:1.2rem;
}



/*************  styling superhero list container and syling scrollbar in it *************/
#superhero-list-container{
   
    width:100%;
    height:80%;
   
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap; 

    margin-top: 40px;
    overflow-y: scroll;

}
#superhero-list-container::-webkit-scrollbar{
    width:12px
}
#superhero-list-container::-webkit-scrollbar-track{
    background: rgb(7, 7, 94,.3);
    border-radius: 20px;
}
#superhero-list-container::-webkit-scrollbar-thumb{
    
    background:rgb(247, 247, 252);
    border-radius: 20px;
}
#superhero-list-container::-webkit-scrollbar-thumb:hover{
    
    box-shadow:0 0 5px 2px  rgb(0, 0, 0);;
}



/************* styling superhero container *************/
.superhero-container {
    width:15%;
    height:60%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 2px;
    box-shadow:0 0 10px 2px  rgb(0, 0, 0);;
}



/************* styling superhero image container and image *************/
.superhero-image-container{
    width:100%;
    height:70%;
    display:flex;
    justify-content: center;
   
   
}
.superhero-image-container img{
    width:100%;
    height:100%;
    border-radius: 10px;
}


/************* styling  superhero body container  *************/
.superhero-body-container{
    width:100%;
    height:30%;

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
  
    box-shadow: 0 -5px 2px 1px gray;
}


/************* styling  superhero body container  *************/
.superhero-name-container{
    margin-top:10px;
    font-family: Impact;
    letter-spacing: 1px;
    text-align: center;
   
    padding-left:1px ;
    padding-right: 1px;
     
   
}
.superhero-name-container::-webkit-scrollbar{
   display: none;
     
   
}


/************* styling superhero detail and remove link container  *************/
.superhero-detail-and-remove-link{
    display:flex;
    justify-content:space-evenly;

    width:100%;
    font-size: 1rem;
}



/************* styling  remove from favorites container and remove from favorites button *************/
.remove-from-favorites{
   font-family: sans-serif;
   color:red;
   border-top:solid;
   cursor:pointer;
}
.remove-from-favorites i{
    font-size: 1rem;
    
 }
.remove-from-favorites:hover i{
font-size: 1.2rem;

}



/************* styling  detail link container *************/
.superhero-detail-and-remove-link a{
    color:rgb(23, 174, 6);
      border-top:solid;
      cursor:pointer;
   
}
.superhero-detail-and-remove-link a:hover{
    font-family: Impact;
}


/* *********************** adding media queries *********************** */

@media  screen and (max-width:1020px) {
    .superhero-container {
        width:30%;
        height:70%;
      
    }
    .superhero-name-container {
        font-size: 1rem;
    }
    #search-container form{
        width:150%;
        height:100%;
    
    }
    #search-container a{
       font-size: 1.3rem;
    }

}

@media  screen and (max-width:600px) {
    .superhero-container {
        width:40%;
        height:70%;
      
    }
   
    #title-and-link a{
      
        font-size:.8rem;
        color:rgb(255, 255, 255);
     }
     
     #title-and-link a:hover{
        font-size:1rem;
     }
    
}

@media  screen and (max-width:400px) {
    .superhero-container {
        width:60%;
        height:70%;
      
    }
   
    #title-and-link h1{
       font-size:1.1rem;
    }
    #title-and-link a{
      
        font-size:.7rem;
        color:rgb(255, 255, 255);
     }
     #title-and-link a:hover{
        font-size:.8rem;
     }
    
}