*{
    margin:0;
}
body{
    width:100vw;
    height:100vh;
    background:url('https://cdn.pixabay.com/animation/2023/01/25/07/54/07-54-16-78_640.png');
  
}

#superhero-overall-container{
    background-color: rgb(7, 7, 94,.3);
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
   justify-content:space-around;
   align-items:center;
}

#superhero-container{
    width:90%;
    height:80%;
    box-shadow:0 0 2px 1px ;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    background:rgb(255, 252, 254);
    border-radius: 20px;
    box-shadow:0 0 1px 1px #a2a9b3;

    transform:rotateY(360deg);
    transition:all 5s ease-in-out;
    background:url('https://cdn.pixabay.com/animation/2023/01/25/07/54/07-54-16-78_640.png');
}

#superhero-image-container {
    width:30%;
    height:70%;
 box-shadow:0 0 5px 1px rgb(192, 187, 187);
 border-radius: 20px;
 
 
}
#superhero-image-container:hover {
  transition:all 5s ease-in-out;
 transform: rotateY(360deg);

 
}

#superhero-image-container img{
    width: 100%;
    height:100%;
 /* box-shadow:0 0 2px 1px red; */
 border-radius: 20px;

}

 #superhero-details-container{
    width:60%;
    height:80%;
    box-shadow:0 0 1px 1px rgb(186, 183, 183);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    padding:20px;
    background:rgb(19, 6, 104);
    /* overflow-y: scroll; */
    color:white;
} 

#superhero-details-container h1{
    /* width:100%; */
    height:10%;
    margin-top:25px;
    margin-bottom:30px;
    border-bottom:5px solid white;
}
#superhero-details-container p{
    width:100%;
    display:flex;
   justify-content:space-evenly;
   margin-bottom:20px;
}
#superhero-details-container strong{
    font-size:1.3rem;
    width:20%;
   
}
#superhero-details-container span{
    font-size:1.2rem;
    width:70%;
    color:rgb(137, 132, 170);
    overflow-y: scroll;
}
#superhero-container{
    visibility:visible;
}

#superhero-details-container span::-webkit-scrollbar{
    width:12px;
    height:1px;
   
}
#superhero-details-container span::-webkit-scrollbar-track{
    background: rgba(251, 251, 255, 0.3);
    border-radius: 20px;
    margin-right:30px;
}

#superhero-details-container span::-webkit-scrollbar-thumb{
    
    background:rgb(247, 247, 252);
    /* border:3px solid orange; */
    border-radius: 20px;
    
}
#superhero-details-container span::-webkit-scrollbar-thumb:hover{
    
    box-shadow:0 0 5px 2px  rgb(0, 0, 0);;
}
/* #superhero-details-container span::-webkit-scrollbar-track-piece{
    
    background:rgb(0, 0, 6);
    /* border:3px solid orange; */
    /* border-radius: 20px;
} */ 
    

/* another-pages-link-container */
#another-pages-link-container {
 width:80%;
 height:10%;
 display:flex;
 justify-content:flex-end;
 
}

#another-pages-link-container a{
    color:rgb(5, 4, 89);
    font-size:1.2rem;
    margin-right:70px;
    font-family: Impact;
    }

#another-pages-link-container a:hover{
 font-family:sans-serif;
 color:white; 
    }
    
#another-pages-link-container a i{
    font-size:1.2rem;
    margin-right:10px;
    }
#another-pages-link-container a:hover i{
    font-size:1.5rem;
    /* color:white; */
    }



    @media  screen and (max-width:1020px) {
        #superhero-container {
            width:95%;
  
        }
        #superhero-details-container{
            width:50%;
        }
    
    }
    
    
    @media  screen and (max-width:700px) {

        #superhero-overall-container{
          
            height:200%;
        }

        #superhero-container {
            width:100%;
           height:200%;
            flex-direction:column-reverse;
            justify-content:space-evenly; 
            border-radius: 0; background:none;
           
        }
        #superhero-details-container{
            width:85%;
            height:50%;
            margin-top:10px;
          /* display:none; */
        /* position:absolute; */
        background:none;
        background-color:rgba(10, 10, 102);
        padding:10px;
        }
        #another-pages-link-container{
            /* height:2%; */
            margin-top:20px;
        }

        
        #superhero-image-container  {
            width:80%;
            height:40%;
        }
                
        #superhero-details-container span{
        color:white
        }
    }
    

